body{
    background: url('../img/marcacao/bg.jpg') no-repeat fixed;
    background-size: cover;
}
.customBG{background-color: #ee1847;}

.customBorder{border-color: #ee1847;}

.customColor,
.footer .socialIcons li a:hover i{
    color: #ee1847;
}
